.contenedor{
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 0;
}
.contenedor2{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    background: #0bb305;
    margin: 0;
}
table, th, td {
    border: 1px solid black;
    border-radius: 10px;
 }

 th, td {
    border-color: #96D4D4;
 }
 nav {
    background-color: rgb(218, 15, 15);
    padding: 10px 0;
}
nav a {
    color: rgb(23, 20, 189);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
nav ul{ 
    display: flex;
}